body {
    text-align: center;
    
}

#about {
background-color: aqua;   
}

#start {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
    z-index: 9;
    width: 100%;
}

img {
    height:80%;
    width: 50%;
    border-radius: 50%;
}

h3 {
    font-family: cursive;
}

#start {
    background-color: pink;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    z-index: 10;
}

.link:hover {
    background-color: darkturquoise;
}

#favouriteplayers {
   background: rgb(153,26,26);
background: linear-gradient(90deg, rgba(153,26,26,0.9364788151588761) 38%, rgba(153,26,57,1) 43%, rgba(26,114,94,0.9925012241224614) 61%, rgba(22,157,65,0.7880194314053747) 73%, rgba(14,255,0,1) 100%);
}
h2 {
    font-family: sans-serif;
}

li {
    display: inline;
    padding: 10px;
}
.began {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}
.line{
 height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#work{
    background-color: darkorange;
}
.pic:hover{
    transform: scale(0.9);
}
#inspiration{
    background-color:cadetblue;
}
li {
  display: inline;
}
.contact1 a{
    color: crimson;
}
.contact1 h3{
    display: inline;
}
